/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #F0F3F7;
    font-family: 'Inter', sans-serif;
}

.background-div{
    background-color: #fff;
}

.box {
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
}

header ul li {
    display: flex;
    align-items: center;
}   

.background-section{
    background-color: #fff;
    width: calc(100% - 1%);
    margin: 0 auto;
    border-radius: 2px;
}
